// TTC API App Project
// SASS File

// BOURBON AND NEAT
// ****************************
@import 'setup';
@import "bourbon/bourbon";
@import "neat/neat";

// MAP STYLES
// ****************************
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

 section {
 	@include outer-container;
 }

// MAP STYLES
// ****************************
.mapContainer {
	@include span-columns(8);
	@include shift(2);
}
#mapCanvas {
	height: 500px;
	width: 100%;
}



html, body, #map-canvas {
        height: 500px;
        // width: 800px;
        margin: 0;
        padding: 0;
      }

// SUGGESTIONS STYLES
// ****************************
.suggestionContainer, .buttonsContainer {
	@include span-columns(12);
}

