// TTC API App Project
// SASS File

// BOURBON AND NEAT
// ****************************
@import 'setup';
@import "bourbon/bourbon";
@import "neat/neat";

// VARIABLES
// ****************************
$red: #D96466;
$blue: #5195C2;
$black: #4A4E4F; 

// GENERAL STYLES
// ****************************
html {
	position: relative;
	min-height: 100%;	
}

html, body {
	font-family: 'Merriweather', serif;
	color: $blue;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
	margin: 0;
	// height: 77vh;
}

h1, h2, h3 {
	font-family: 'Archivo Narrow', sans-serif;
}
h1{
	font-size: 80px;
	margin:0;
	padding:0;
	color: $red;
}
h2{
	font-size: 20px;
	letter-spacing: 0.15em;
}
h3{
	font-size: 18px;
	letter-spacing: 0.15em;
	margin:0;
	padding:0;
	color: $black;
}
//INITILA LOGO STYLES
//******************************
.logo_initial{
	position:absolute;
	margin-top:15vh;
	height: 70vh;
	width: 70vh;
	background: white;
	border: solid 50px $black;
	border-radius: 50%;
	z-index: 50;
	@include shift(3.5);
	overflow:hidden;
}
.logo_svg{
	margin-left:10px;
	margin-top: 10vh;
	width: 100%;
	height:100%;
}
svg{
	width: 110%;
}
.logo_text{
	position:absolute;
	bottom:2vh;
	@include shift(4);
}
//NAV STYLES
//******************************
.nav{
	background: $black;
	position: absolute;
    left: 0;
    top: 0;
    height: 8vh;
    width: 100%;
    color: white;
}
h2{
	@include span-columns(8);
	@include shift(1);
	text-transform: lowercase;
	
}
.skin-nav{
	border: none;
	background: none;
	color: white;
	height: 100%;
	font-size: 25px;
}
.skin-nav:hover{
	color: $red;
}
.skin-nav:focus{
	color: $red;
	outline: none;
}
.button-dd{
	@include span-columns(1);
	@include shift(0);
}
.button-refresh{
	@include span-columns(1);
	@include shift(1);
}
//SLIDING NAV
//************************************
// .checkbox{
// 	display: none;
// }
.nav_container{
	position: relative;
	height:100%;
}
// .dd-nav{
// 	height: 90vh;
// 	background: red;
// 	width: 100%;
// 	position: absolute;
// 	top:7vh;
// 	left:0;
// 	transition: all 0.5s ease;
// 	z-index: 10;
// 	color: $white;
// }		
// #nav-check:checked + .nav_container{
// 		left: 0;
// }
// #nav-check:checked ~ .nav_container{
// 		left: 300px;
// }

// ul.dd-nav {
// 	margin: 0;
// 	padding: 5% 3%;
	
// }
// .dd-nav_container{
// 	border: 2px solid $white;
// 	border-radius: 5px;
// 	padding: 2%;
// }
// .dd-nav li{ 
// 	display: block;
// 	padding: 5% 0;
// }
//*****************************
.inputSection{
	margin-top:10vh;
}
 .outerWrapper {
 	@include outer-container;
 }
//DROP DOWN STYLES
//*****************************
select{
	background: $red;
	border: none;
	border-radius: 5px;
	color: white;
	width: 100%;
	font-family: 'Archivo Narrow', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	margin-bottom: 1%;
	@include span-columns(7);
	@include shift(2.5);
	height:7vh;
}
// MAP STYLES
// ****************************
.mapContainer {
	@include span-columns(8);
	@include shift(2);
}

#mapCanvas {
	height: 50vh;
	width: 100%;
}


// PLACES BUTTON STYLES
// ****************************
.button-places {
	border: none;
	border: 2px solid $blue;
	border-radius: 5px;
	background: #fff;
	color: $blue;
	height: 10vh;
	width: 10vh;
	font-size: 25px;
}
.button-places:hover{
	color: $red;
	border: 2px solid $red;
}
.button-places:focus{
	color: $red;
	outline: none;
	border: 2px solid $red;
}

// RESULTS SECTION STYLES
// ****************************

//commented out by jeanne - adding this as a top border for page
//instead of section specific.
// .resultsSection {
// 	border-top: 50px solid $black;
// }
//commented out by jeanne - is this needed if we are only populating 
//places near the stop?
// .stopDistance {
// 	margin: 2% 0;
// 	border-radius: 5px;
// 	@include span-columns(8);
// 	@include shift(2);
// }

.suggestionContainer {
	background: $red;
	color: #fff;
	margin: 1% 0;
	border-radius: 5px;
	padding:2%;
	@include span-columns(8);
	@include shift(2);
}

.buttonsContainer {
	@include span-columns(12);
	@include shift(1.5);

	.buttonBox {
		@include span-columns(3);
	}
}

// FOOTER STYLES
// ****************************
footer {
	background: $black;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 5vh;
    width: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    color: #fff;
}
