// TTC API App Project
// SASS File

// BOURBON AND NEAT
// ****************************
@import 'setup';
@import "bourbon/bourbon";
@import "neat/neat";

// VARIABLES
// ****************************
$red: #D96466;
$blue: #5195C2;
$black: #4A4E4F; 

// GENERAL STYLES
// ****************************
html {
	position: relative;
	min-height: 100%;	
}

html, body {
	font-family: 'Merriweather', serif;
	color: $blue;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
	margin: 0 0 100px;
}

h1, h2, h3 {
	font-family: 'Archivo Narrow', sans-serif;
}
.nav{
	background: $black;
	position: absolute;
    left: 0;
    top: 0;
    height: 10vh;
    width: 100%;
    color: white;
}
.inputSection{
	margin-top:10vh;
}
 .outerWrapper {
 	@include outer-container;
 }


// MAP STYLES
// ****************************
.mapContainer {
	@include span-columns(8);
	@include shift(2);
}

#mapCanvas {
	height: 500px;
	width: 100%;
}

// BUTTON STYLES
// ****************************
button {
	border: none;
	border: 2px solid $blue;
	border-radius: 5px;
	background: #fff;
	color: $blue;
	padding: 20px 20px;
	font-size: 25px;
}

// RESULTS SECTION STYLES
// ****************************

//commented out by jeanne - adding this as a top border for page
//instead of section specific.
// .resultsSection {
// 	border-top: 50px solid $black;
// }

.stopDistance {
	margin: 2% 0;
	border-radius: 5px;
	padding: 2%;
	@include span-columns(8);
	@include shift(2);
}

.suggestionContainer {
	background: $red;
	color: #fff;
	margin: 3% 0;
	border-radius: 5px;
	padding: 2%;
	@include span-columns(8);
	@include shift(2);
}

.buttonsContainer {
	@include span-columns(12);
	@include shift(1.5);

	.buttonBox {
		@include span-columns(3);
	}
}

// FOOTER STYLES
// ****************************
footer {
	background: $black;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 5vh;
    width: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    color: #fff;
}
